python-dotenv
requests
opencv-python

openai

mediapipe
numpy<2

SpeechRecognition

pyaudio

elevenlabs
pygame
pydub

Jinja2

psycopg[binary]

fastapi
uvicorn[standard]
zeroconf
bless

adafruit-blinka; platform_machine == "aarch64" or platform_machine == "armv7l"
adafruit-circuitpython-ads1x15; platform_machine == "aarch64" or platform_machine == "armv7l"