python-dotenv
requests
opencv-python

openai

mediapipe
numpy<2

SpeechRecognition
silero-vad>=5.1
onnxruntime

pyaudio

elevenlabs
pygame
pydub

Jinja2

psycopg[binary]

fastapi
uvicorn[standard]
zeroconf
bless

adafruit-blinka
adafruit-circuitpython-ads1x15